{% extends 'base.html' %}
{% from "macro/form_fields.html" import render_fields %}
{% block title %}
    Login as
{% endblock %}

{% block body %}
    <h1>Login as user:</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
        {% endif %}
    <form method="POST">
      {{ form.csrf_token() }}
      {% for field in ['first_name', 'password'] %}
        {{ render_fields(form[field]) }}
      {% endfor %}
      <div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
      </div>
    </form>
{% endblock %}